* {
    margin: 0px;
    padding: 0px;
}
#header{
    /* background-color: #4585b8; */
    /* background-color: #b399d0; */
    background-color: midnightblue;
    width: 100%;
    height: 62px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    
}

.header-inner{
    width: 900px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 48px;
    height: 48px;
}


.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    margin-right: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
}
.nav > li > a{
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width:900px) {
    #header{
        height: 30px;
    }
    .header-inner{
        width: 100%px;
    }   
    .logo{
        margin-top: 8px;
        width: 24px;
        height: 24px;
    }
    .nav{
        font-size: 14px;
    }
}

main{
    background-color: rgb(220,220,220);
}
@media screen and (max-width:478px) {
    #header{
        height: 30px;
    }
    .header-inner{
        width: 78%;
    }   
    .logo{
        margin-top: 8px;
        width: 24px;
        height: 24px;
    }
    .nav{
        font-size: 14px;
    }
}


hr{
    border:none;
    height: 2px;
    background-color: #4585b8;
    /* background-color: #000000; */
}


footer{
    background-color: #4585b8;

    background-color: midnightblue;

    /* background-color: #b399d0; */
    width: 100%;
    height: 62px;

    display: flex;
    justify-content: center;
    
}
.header-sns{
    margin: 6px;
}
.fa-icon{
    margin: 0 3px;
    color:white;
    font-size: 2em;
}
@media screen and (max-width:900px) {
    .fa-icon{
        font-size: 1.5em;
    }
}
@media screen and (max-width:478px) {
    .fa-icon{
        font-size: 0.8em;
    }
}